<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/uzh_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/uzh_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.cityguide.Common.Categories.MyFavorites.MyFavorites"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cityguide.Common.Categories.Entertainment.MainEntertainment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.Categories.Residence.MainResidence"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.Place.Place_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.Categories.FoodAndDrink.MainFoodAndDrink"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.Categories.Transport.TransportCategory"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.example.cityguide.LocationOwner.RetailerDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.LoginSignup.RegistrationSuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.LoginSignup.SetNewPasswordx"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.LoginSignup.VerifyOTP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.LoginSignup.ForgetPasswordSuccessMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.LoginSignup.ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.LoginSignup.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.LoginSignup.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.LoginSignup.RetailerStartUpScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.Categories.AllCategories"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.OnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.User.UserDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.cityguide.Common.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>